<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trainer_helper_and_eat_supplements">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trainer_helper_and_eat_supplements"
        tools:targetApi="31">
        <activity
            android:name=".SelectManyExercisesActivity"
            android:exported="false" />
        <activity
            android:name=".ObserverOfExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".EditTrainActivity"
            android:exported="false" />
        <activity
            android:name=".EditAddFoodAdditiveActivity"
            android:exported="false" />
        <activity
            android:name=".EditAddExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".EditAddComplexActivity"
            android:exported="false" />
        <activity
            android:name=".MainListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>